{% load static %}
{% load event_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кавёр Красноярск - События</title>
    <link type="text/css" href="{% static 'events_app/css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% show_header cat_selected %}
        {% block content %}
        {% endblock %}
    </div>
    {% include 'events_app/includes/footer.html' %}
</body>