<footer class="site-footer">
    <div class="container footer-container">
        <div class="footer-section footer-social-contacts">
             <h4 class="footer-title">КОТ В СОЦСЕТЯХ</h4>
             <div class="social-icons">
                 <a href="#" class="social-icon tg-icon">ТГ</a>
                 <a href="#" class="social-icon vk-icon">ВК</a>
             </div>
             <div class="contact-info">
                 <a href="tel:+78005553535" class="contact-link">
                     <i class="fa-solid fa-phone"></i>
                     +7 (800) 555-35-35
                 </a>
                 <a href="123456789@gmail.com" class="contact-link">
                     <i class="fa-solid fa-envelope"></i>
                     123456789@gmail.com
                 </a>
             </div>
             <p class="copyright">ООО «Приколы Корп»</p>
        </div>

        <div class="footer-section footer-nav">
            <h4 class="footer-title">НЕОБЫЧНЫЕ СОБЫТИЯ</h4>
            <ul>
                <li><a href="#">Stand up</a></li>
                <li><a href="#">Концерты</a></li>
                <li><a href="#">Спектакли</a></li>
                <li><a href="#">Фестивали</a></li>
            </ul>
        </div>

        <div class="footer-section footer-nav">
            <h4 class="footer-title">НЕОБЫЧНЫЕ МЕСТА</h4>
            <ul>
                <li><a href="#">Кафе</a></li>
                <li><a href="#">Бары</a></li>
                <li><a href="#">Арт-пространства</a></li>
                <li><a href="#">Галереи</a></li>
            </ul>
        </div>

        <div class="footer-section footer-nav">
            <h4 class="footer-title">ПРО КОТ</h4>
            <ul>
                <li><a href="#">Юридическая страничка</a></li>
                <li><a href="#">Всё о комьюнити</a></li>
                <li><a href="#">О проекте</a></li>
            </ul>
        </div>

        <div class="footer-section footer-newsletter">
            <h4 class="footer-title">РАССЫЛОЧКИ</h4>
            <p>Пишем о новостях и главных событиях</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Ваша почта" required>
                <button type="submit" class="btn btn-subscribe">Подписаться</button>
            </form>
            <p class="newsletter-disclaimer">Нажимая кнопку «Подписаться», вы соглашаетесь с <a href="#">правилами</a></p>
        </div>

    </div>
</footer>
