{% load static %}

<header class="site-header">
    <div class="logo">
        <a href="{% url 'events' %}"><img src="{% static 'events_app/images/logo.png' %}" alt="КОТ Красноярск Лого"></a>
        <span>КОТ<br>Красноярск</span>
    </div>
    <nav class="main-nav">
        <ul>
            {% for cat in data %}
            <li><a href="{% url cat.url %}" class='{% if cat_selected == cat.url %} active {% endif %}'>{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <div class="header-actions">
        <div class="search-container">
            <!-- Search button using btn-icon -->
            <button class="btn btn-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" class="search-input" placeholder="Поиск...">
        </div>
         <!-- Login/Profile buttons using btn-secondary -->
        {% if not user.is_authenticated %}
            <button onclick="window.location.href = '{% url "users:login" %}';" class="btn btn-secondary">Войти</button>
        {% else %}
            <button onclick="window.location.href = '{% url 'users:user_detail' user.username %}';" class="btn btn-secondary">Профиль</button>
        {% endif %}
    </div>
</header>