{% extends 'base.html' %}

{% block content %}
        <div class="content-wrapper">
            <main class="main-content" style="max-width: 50em">
                <div class="event-card-content">
                    <h1>О проекте</h1>
                    <p><strong>КОТ</strong> - это площадка, которая объединяет все креативные события города. Это не только про кино и театры. Здесь вы найдете уютные киноклубы, литературные кружки, экскурсии, мастер-классы, фестивали и многое другое. Локальные и грандиозные мероприятия нашего города, о которых раньше сложно было узнать, теперь собраны на одной площадке. С помощью поиска, фильтров и системы рекомендаций можно за 3 минуты спланировать вечер или выходные.</p>
                    <h1>Наша миссия</h1>
                    <p>Объединить креативных предпринимателей города с активными жителями. Собрать интересных людей вместе, чтобы жизнь города стала насыщеннее и развивалась. Мы предлагаем организаторам бесплатно добавлять свои мероприятия и размещать анонсы. Это можно сделать самостоятельно, но если что, мы всегда рядом и готовы помочь.</p>
                    <h1>Контакты</h1>
                    <p><pre>ООО "Прикол корп"
г.Москва, ул. Пушкина, д. Колотушкина, пом. 2
Телефон: +7 (800) 555 3535
E-mail: kot-afisha@gmail.com</pre></p>
                </div>
            </main>
        </div>
{% endblock %}